btn {
    width: 100%;
    padding: 0.75rem;
    background: #4e8cff;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: 0.3s;

    &:hover {
        background: #3a72d8;
    }
}